@import 'modern-normalize';

:root {
  /* Colors */
  --color-text: #101828;
  --color-background: #ffffff;
}

button {
  cursor: pointer;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
